<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Domain</key>
	<string>dev-vke2wo15.us.auth0.com</string>
	<key>ClientId</key>
	<string>DB3L6073ipGhClM6OQT5XkI2xgClAP3v</string>
</dict>
</plist>
